<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/login.css' />
  </head>
  <body>

  <form action="" id="form">
    <input type="text" placeholder="请输入已验证手机/邮箱">
    <br>
    <br>
    <input type="password"  placeholder="请输入密码">
    <br>
    <p>忘记密码?</p>
    <br>
  <button ><a href="http://localhost:3000/loginSuccess">登录</a></button>

  </form>
  </body>
</html>
