<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>片刻</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<!--头部 导航栏-->
<header>
    <!--导航-->
    <div id="header-ul">
        <!--左边导航栏-->
        <ul id="header-ul1">
            <li style="margin-right:5%"><img src="images/head-logo.png" alt=""></li>
            <li class="active">首页</li>
            <li>阅读</li>
            <li>电台</li>
            <li>碎片</li>
            <li>客户端</li>
        </ul>
        <!--右边登录-->
        <div id="header-ul2">
            <!--铅笔-->
            <span class="header-ul2-li1"><img src="images/edit-icon.png" alt=""></span>
            <button class="btn">登录/注册</button>
        </div>
    </div>
</header>

<!--内容区-->
<div id="main">
    <!--内容区上边图片-->
    <div class="main-img">
        <!--内容左边的图片-->
        <div class="main-img-left">
            <!--大图片-->
            <img src="images/10ec7bfffb06c90f7d36421df5afaebf20170321.jpg" alt="">
            <!--蒙版文字-->
            <div class="mask-text">
                <span>这样</span>锻炼,你才会掌握说话...
            </div>

        </div>

        <!--内容右边的图片-->
        <div class="main-img-right">
            <!--第一个图片-->
            <div class="main-img-right-div">
                <img src="images/b7ba659ac441c3996e12be395ba61bcb20170501.jpg" alt="">
                <!--第一个蒙版-->
                <div class="mask-text">
                    <span>有社</span>交恐惧症的你,该怎么办...
                </div>
            </div>
            <!--第二个图片-->
            <div class="main-img-right-div">
                <img src="images/fdb9e3529e71d35abc1b574005b1e35a20170508.jpg" alt="">
                <!--第二个蒙版-->
                <div class="mask-text">
                    <span>怎样</span>找到真正向做的事...
                </div>
            </div>
            <!--第三个图片-->
            <div class="main-img-right-div">
                <img src="images/4b9cabfe7bdaef3757ce818f1617776020170509.jpg" alt="">
                <!--第三个蒙版-->
                <div class="mask-text">
                    <span>坚持</span>写手账135天,生活发生改变...
                </div>
            </div>
            <!--第四个图片-->
            <div class="main-img-right-div">
                <img src="images/d261c1e53975eca13bb0f6ac83f62a4a20170225.jpg" alt="">
                <!--第四个蒙版-->
                <div class="mask-text">
                    <span>外公</span>的两条命
                </div>
            </div>

        </div>


    </div>

    <!--阅读标题-->
    <div class="small-title">
        <!--黑色矩形-->
        <h4><span></span>阅读&nbsp|&nbspRead</h4>

    </div>

    <!--阅读内容-->
    <div class="main-read">
        <!--第一个文章-->
        <div class="main-read-list">
            <!--文章左边-->
            <div class="main-read-list-left">
                <!--文章题目-->
                <p class="green" style=" font-size: 30px;">明白这5个道理，刚工作的你少些迷茫</p>
                <!--文章作者-->
                <span class="green">by/二嬷嬷</span>
                <!--作者下的线-->
                <div class="liner"></div>
                <!--正文-->
                <span>文～二嬷嬷 曾有人问过我，为什么人生这么迷茫，找不到自己的方向？ 那时候的我没办法回答，因为自己也正处在这样的状态，我需要时间去经历才能找出答案。</span>
                <!--点击全文-->
                <span class="all-text green">VIEW ALL</span>
                <!--阅读量-->
                <div class="quantity">1.2 k次阅读 | 评论:2 | 喜欢:56</div>
            </div>
            <img class="main-read-list-right" src="images/b963239b505140283a6cd87275ecbb8520170720.gif" alt="">


        </div>

        <!--第二个文章-->
        <div class="main-read-list">
            <!--文章左边-->
            <div class="main-read-list-left">
                <!--文章题目-->
                <p class="green" style=" font-size: 30px;">你享受被追的样子真恶心</p>
                <!--文章作者-->
                <span class="green">by/二嬷嬷</span>
                <!--作者下的线-->
                <div class="liner"></div>
                <!--正文-->
                <span>1. 爱不是感动两三回就可以在一起。 一个不喜欢你的男生，你主动联系他，约他，追他，结果都一样，没戏。 朋友阿岑在职场中是个严谨的人，做事一丝不苟</span>
                <!--点击全文-->
                <span class="all-text green">VIEW ALL</span>
                <!--阅读量-->
                <div class="quantity">559次阅读 | 评论:6 | 喜欢:31</div>
            </div>
            <img class="main-read-list-right" src="images/f0a37ae5bb8ba93b1b438370cd7c082d20170210.jpg" alt="">


        </div>

        <!--第三个文章-->
        <div class="main-read-list">
            <!--文章左边-->
            <div class="main-read-list-left">
                <!--文章题目-->
                <p class="green" style=" font-size: 30px;">日常、亲故、世界和书</p>
                <!--文章作者-->
                <span class="green">By / 溶哩</span>
                <!--作者下的线-->
                <div class="liner"></div>
                <!--正文-->
                <span>大学的时候总爱去图书馆的二楼，随意在书架间溜达，看着一本顺眼的书，就怀着雀跃的心情将它带回座位，就是我的下午时光。 毕业了，惊叹于时间的流逝，</span>
                <!--点击全文-->
                <span class="all-text green">VIEW ALL</span>
                <!--阅读量-->
                <div class="quantity">249次阅读 | 评论:0 | 喜欢:8</div>
            </div>
            <img class="main-read-list-right" src="images/0a1a711e032c8801b5d63dca30bbd14020170422.jpg" alt="">


        </div>
    </div>

    <!--TING标题-->
    <div class="small-title">
        <!--黑色矩形-->
        <h4><span></span>TING</h4>

    </div>

    <!--播放歌曲-->
    <div class="main-song">

        <!--第一个歌-->
        <div class="song1">
            <!--存放图片-->
            <div class="song1-img">

                <img src="images/1aeb41fd6c4ad8dc43c4f5cc3ead2c2b.JPG@640w_85Q.jpg" alt="">
                <!--蒙版-->
                <div class="mask-active">
                    <img src="images/download.png"/>
                </div>
            </div>
            <!--下边介绍-->
            <div class="song1-text">
                <!--歌名-->
                <p class="green" style="font-size: 25px">遇见</p>
                <!--主播-->
                <p class="green singer">主播 / 阿见</p>
                <!--试听量-->
                <p>11.8 k次播放 | 评论:30 | 喜欢:143</p>

            </div>

        </div>

        <!--第二个歌-->
        <div class="song1" style="margin: 0 4.2%">
            <!--存放图片-->
            <div class="song1-img">

                <img src="images/73ca34ab4e489ad208cd12607d5ca4b4.PNG@640w_85Q.jpg" alt="">
                <!--蒙版-->
                <div class="mask-active">
                    <img src="images/download.png"/>
                </div>
            </div>
            <!--下边介绍-->
            <div class="song1-text">
                <!--歌名-->
                <p class="green" style="font-size: 25px">他不爱我</p>
                <!--主播-->
                <p class="green singer">主播 / NJ文珂</p>
                <!--试听量-->
                <p>256.1 k次播放 | 评论:70 | 喜欢:1.0 k</p>
            </div>

        </div>

        <!--第三个歌-->
        <div class="song1">
            <!--存放图片-->
            <div class="song1-img">

                <img src="images/57f193998c938ee4af38188f36a82c63.PNG@640w_85Q.jpg" alt="">
                <!--蒙版-->
                <div class="mask-active">
                    <img src="images/download.png"/>
                </div>
            </div>
            <!--下边介绍-->
            <div class="song1-text">
                <!--歌名-->
                <p class="green" style="font-size: 25px">爱在日落黄昏后</p>
                <!--主播-->
                <p class="green singer">主播 / 乐文希</p>
                <!--试听量-->
                <p>151.1 k次播放 | 评论:183 | 喜欢:1.6 k</p>

            </div>

        </div>
    </div>

    <!--人气片客标题-->
    <div class="small-title">
        <!--黑色矩形-->
        <h4><span></span>人气片客&nbsp|&nbspHot Pianker</h4>

    </div>

    <!--人气片客内容-->
    <div class="hot">
        <!--第一个-->
        <div class="hot-one">
            <!--左半部分-->
            <div class="hot-left">
                <!--存放头像-->
                <div class="hot-left-img">
                    <!--头像-->
                    <img src="images/4cca2c8e44c978c11697d580db691bb220170209.jpeg" alt="">
                </div>
                <!--音乐人小标-->
                <img class="hot-music" src="images/user_musician.png" alt="">

            </div>
            <!--右半部分-->
            <div class="hot-right">
                <h4 class="green">谈丽君</h4>
                <div class="liner" style="margin-top: 15px"></div>
                <p class="hot-singer">独立音乐人/创作歌手</p>

            </div>


        </div>

        <!--第二个-->
        <div class="hot-one">
            <!--左半部分-->
            <div class="hot-left">
                <!--存放头像-->
                <div class="hot-left-img">
                    <!--头像-->
                    <img src="images/8b29dc859b74cb196f7b071ab94470d820170126.jpg" alt="">
                </div>
                <!--音乐人小标-->
                <img class="hot-music" src="images/user_musician.png" alt="">

            </div>
            <!--右半部分-->
            <div class="hot-right">
                <h4 class="green">王睿 Ray</h4>
                <div class="liner" style="margin-top: 15px"></div>
                <p class="hot-singer">流行歌手王睿</p>

            </div>


        </div>

        <!--第三个-->
        <div class="hot-one">
            <!--左半部分-->
            <div class="hot-left">
                <!--存放头像-->
                <div class="hot-left-img">
                    <!--头像-->
                    <img src="images/9a7018ced880d6f925b02b91934c9f1520170726.jpeg" alt="">
                </div>
                <!--音乐人小标-->
                <img class="hot-music" src="images/user_musician.png" alt="">

            </div>
            <!--右半部分-->
            <div class="hot-right">
                <h4 class="green">陆深兽</h4>
                <div class="liner" style="margin-top: 15px"></div>
                <p class="hot-singer">片刻翻唱达人陆深深</p>

            </div>


        </div>

        <!--第四个-->
        <div class="hot-one">
            <!--左半部分-->
            <div class="hot-left">
                <!--存放头像-->
                <div class="hot-left-img">
                    <!--头像-->
                    <img src="images/a8688a423d9d55a9db48d0d5298a594d20170601.jpeg" alt="">
                </div>
                <!--音乐人小标-->
                <img class="hot-music" src="images/user_musician.png" alt="">

            </div>
            <!--右半部分-->
            <div class="hot-right">
                <h4 class="green">阿见</h4>
                <div class="liner" style="margin-top: 15px"></div>
                <p class="hot-singer">独立音乐人，电台主持人</p>

            </div>


        </div>

        <div class="more">

            <div class="more-text">
                查看更多精彩内容
            </div>

        </div>


    </div>


</div>


<!--底部-->

<footer class="footer">
    <!--底部内容-->
    <div class="footer-main">
        <!--底部内容左边-->
        <div class="footer-main-left">
            <!--底部内容的信息-->
            <ul class="footer-main-left-ul">
                <li>关于我们</li>
                <li>友情链接</li>
                <li>片刻帮助</li>
                <li>意见反馈</li>
                <li>成长记忆</li>
            </ul>
            <br>
            <p>
                All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1
            </p>

        </div>

        <!--底部内容的右边-->
        <div class="footer-main-right">
            <span> <img src="images/foot-app.png" alt=""></span>
            <span> <img src="images/foot-sina.png" alt=""></span>
            <span> <img src="images/foot-wechat.png" alt=""></span>
        </div>
        <span class="safe" ><img src="images/foot-safe.png" width="10%" alt=""></span>


    </div>


</footer>
<!--点击到顶部-->
<div class="touch-top">
    <a href="#"><img src="images/up.png" alt=""></a>

</div>

<script src='/javascripts/jquery-2.2.3.min.js'></script>
<script src="/javascripts/main.js"></script>
</body>
</html>