<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href='/stylesheets/login.css'/>
</head>
<body>

<form method="post" action="loginSuccess" id="form">
    <input type="text"  name="username" placeholder="请输入已验证手机/邮箱">
    <br>
    <br>
    <input type="password"   name="password" placeholder="请输入密码">
    <br>
    <p>忘记密码?</p>
    <br>
    <button type="submit" class="btn">登录</button>

</form>
</body>
</html>
